APP_PORT=3010
POSTGRES_PASSWORD=change-this-postgres-password
JWT_SECRET=change-this-jwt-secret
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=change-this-refresh-token-secret
REFRESH_TOKEN_EXPIRES_IN=7d
APP_DOMAIN=metalgest.com.br
APP_DOMAIN_WWW=www.metalgest.com.br
CERTBOT_EMAIL=
FRONTEND_URL=http://localhost:3010
