# dependencies
**/node_modules

# build output
**/dist
**/.turbo
**/*.tsbuildinfo

# local env files
.env
.env.*.local

# runtime artifacts
apps/api/logs
apps/api/uploads

# IDEs e editores
.vscode
.idea

# sistema operacional
.DS_Store
Thumbs.db
